
nav {
  display: flex;
  height: 120px;
  width: auto;
  background-color: #f7bc51;
  color: #FFFFFF;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: auto;
  width:100%;
}

.nav-logo {
  display: flex;
  font-family: 'Bungee', cursive, sans-serif;
  font-size: larger;
  justify-content: center;
  margin: 1.5em;
}

.nav-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1.5em;
}
.nav-right:hover {
  color: #afb7d1;
}

nav i {
  color: red;
}
