main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tweets-container {
  width: 100%;
}
article:hover {
  box-shadow: 3px 4px 2px #c9beb5;
}

article.posted-tweet {
    display: flex;
    width: 100%;
    min-width: 50vw;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 0.5em;
    border: 3px solid;
}

.container header {
  height: auto;
  width: auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.user-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-name img {
  padding-right: 1em;
}
main p {
  background-color: inherit;
  width: auto;
  margin: 1em 0 0 0;
  padding: 0 0.5em 1em 0.5em;
  word-wrap: break-word;
}
main footer {
  color: #545149;
  font-size: small;
  display: flex;

  justify-content: space-between;
  padding-top: 0.4em;
  border-top: 3px solid #545149;
}

.reactions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5em;
}

.flag:hover {
  color: #f7bc51;
}

.retweet:hover {
  color: #1ad;
}

.like:hover {
  color: #dd2222;
}
